# Required
ONE_SECRET_KEY=sk_live_your_secret_key_here
PLATFORMS=gmail,google-calendar,slack
COMPANY_NAME=ACME
COMPANY_LOGO_DARK=/logo/logo-full-dark.svg
COMPANY_LOGO_LIGHT=/logo/logo-full-light.svg
WELCOME_MESSAGE=To setup your agent, please connect the following apps
SUCCESS_MESSAGE=All apps connected! Your agent is ready to go.

# Optional
# IDENTITY=user@example.com
# IDENTITY_TYPE=email
# CORS_ORIGIN=*
